extends layout.pug

block content
  form( method="post" action=`/books/${routeExtension}`)
    block message
    p
      label(for="title") Title
      input(name="title" type="text" id="title" value=`${ book.get("title")}`)
    p
      label(for="author") Author
      input(name="author" type="text" id="author" value=`${ book.get("author")}`)
    p
      label(for="genre") Genre
      input(name="genre" type="text" id="genre" value=`${ book.get("genre")}`)
    p
      label(for="year") Year
      input(name="year" type="text" id="year" value=`${ book.get("year")}`)
    p
      input(type="submit" value=`${submitValue}`)
  block secondForm
   