extends layout.pug

block content
  .top-bar
    a(class="button" href="/books/new") Create New Book
    form(action="/books" id="search" method="GET")
      input(name="query" type="text" placeholder="Search...")
      input(type="submit" value="search")
  table
    thead
      tr
        th Title
        th Author
        th Genre
        th Year
    tbody
      each book in books
        tr
          td
            a(href=`/books/${book.get("id")}`)= book.get("title")
          td= book.get("author")
          td= book.get("genre")
          td= book.get("year")
          
  .pagination
    - let page=1;
    while page <= pages
      a(href=`/books?query=${query?query:""}&page=${page}` class=`${activePage===page ? "active" : ""}`)= page
      - page += 1;

    




